.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
cutouts.Rmd
results/
*.pdf
*.html
*.docx
images/
tables/
vegan-meta.ttt
supplementary-analyses/**/*.csv
supplementary-analyses/**/*.sav
supplementary-analyses/**/*.Rdata
*.log