.Rproj.user
.Rhistory
.Ruserdata
.DS_store
cutouts.Rmd
/results/figures/
*.pdf
*.html
*.docx
images/
tables/
vegan-meta.ttt
*.log
short-term-todos.txt
*.png
*.aux
*out
*.blg
*.log
literature/
Icon*
documentation